.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container__title {
    margin-bottom: 20px;
}

.row {
    margin-bottom: 20px;
}

.btn {
    margin-right: 10px;
}

.editor__text {
    border: 1px solid #000000;
    padding: 10px;
    min-height: 50px;
}
